<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--[if lt IE 7]><html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="ie ie6 no-js"><![endif]-->
<!--[if IE 7 ]><html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="ie ie7 no-js"><![endif]-->
<!--[if IE 8 ]><html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="ie ie8 no-js"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="ie ie9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />


    <script type="text/javascript">
    //<![CDATA[
        drex_file_name = "dashboard.htm";
    //]]>
    </script>

    		<title>1.1.3.1. Dashboard</title>

    <link rel="stylesheet" type="text/css" href="css/all.css" media="all" />
    <link rel="stylesheet" href="de_style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="custom.css" type="text/css" media="all" />

    <script type="text/javascript" src="js/all.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/drexplain.data.index.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/all2.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/oembed.js" charset="utf-8"></script>
    <script type="text/javascript">
    //<![CDATA[
        $(document).ready(function() {
                $(".oembed").oembed(null,
                        {
                            embedMethod: "replace_with_new_size"
                        });
        });
    //]]>
    </script>
                </head>
<body class="b-body">
<script type="text/javascript">
//<![CDATA[
    if (document.referrer == "" && navigator.userAgent == "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/536.11 (KHTML, like Gecko) Chrome/20.0.1132.57 Safari/536.11")
    {
        var im = document.createElement("img");
        im.src = "0";
        document.body.appendChild(im);

        $.drex_avoid_load = true;
    }
//]]>
</script>
<div class="b-pageLayout" id="pageLayout">
<script type="text/javascript">
//<![CDATA[
    if ($.drex_avoid_load)
        $("#pageLayout").addClass("hidden");
    else if (1 == 1 && !is_touch_device())
        $("#pageLayout").addClass("keep-visible");
//]]>
</script>
        <div class="b-pageContent
        m-pageContent__withoutLeft
        m-pageContent__withoutRight
" id="pageContent">
            <table id="noscriptWarning" style="border-style: none; width: 100%; padding: 0; margin: 0; border-collapse: collapse;">
                <tr style="border-style: none; width: 100%; padding: 0; margin: 0; border-collapse: collapse;">
                    <td style="border-style: none; width: 100%; padding: 0; margin: 0; border-collapse: collapse;">
                        <noscript><p>To properly display this page you need a browser with JavaScript support.</p></noscript>
                    </td>
                </tr>
            </table>

            <div class="b-tree m-tree__contextMenu" id="keywordContextMenu"><table class="b-tree__layout"><tr><td class="b-tree__layoutSide"></td></tr></table></div>
            <table class="b-pageContent__layout">
                <tr class="b-pageContent__row m-pageContent__row__header" id="pageContentHeader">
                    <td class="b-pageContent__side m-pageContent__side__header">
                        <div class="m-pageContent__side__header__wrapper">
                            <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><table class="de_tbl_576 detbl" style="width: 100%; margin-left: 0; margin-right: auto;">
<col style="width: 100%;" class="de_col_1_576" />
<tr style="height: 89px;">
<td class="de_td_576" style = "padding: 2px; padding-bottom: 1px; border-left-style: none; border-left-width: 0px; border-left-color: #000000; border-right-style: none; border-right-width: 0px; border-right-color: #000000; border-top-style: none; border-top-width: 0px; border-top-color: #000000; border-bottom-style: none; border-bottom-width: 0px; border-bottom-color: #000000;  width: 100%; vertical-align: bottom;" colspan = "1" rowspan = "1" >
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><img  alt="" style="border: solid 0px;  float: left; " width="68" height="68" class="de_custom_img de_D457E58A2E" src="drex_header_custom.png"/><span style="font-family: &quot;Arial&quot;;font-size: 20pt;color:#f0f0f0;"><strong>Nuevo proyecto</strong></span></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span style="font-family: &quot;Arial&quot;;font-size: 18pt;color:#f0f0f0;"><strong><sup>Manual de instrucciones</sup></strong></span></div>
</td></tr></table></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="b-pageContent__side">
                    <table id="internal_wrapper"><!-- internal_wrapper -->
                        <tr>

                    <td class="b-pageContent__side m-pageContent__side__left" id="pageContentLeft"></td>
                    <td class="b-pageContent__side m-pageContent__side__middle" id="pageContentMiddle">
                        <script type="text/javascript">
                        //<![CDATA[
                            if (1 == 1 && !is_touch_device())
                                $("#pageContentMiddle").addClass("hidden");
                        //]]>
                        </script>
                        <div class="b-workZone
" id="workZone">
                            <table class="b-workZone__layout">
                                <tr>
                                    <td class="b-workZone__side m-workZone__side__nav" id="workZone_nav">
                                        <div class="b-workZone__content m-workZone__content__nav" id="workZone_nav_content">
                                        <a href="#" class="b-workZone__side__nav__dismiss" id="dismissSideNavButton">&times;</a>
                                        <div class="b-splitter" id="splitter">
                                            <div class="b-splitter__innerPre">
                                                <div class="b-splitter__inner">
                                                    <div class="b-splitter__part m-splitter__part__mainImg"></div>
                                                    <div class="b-splitter__part m-splitter__part__topImg"></div>
                                                    <div class="b-splitter__part m-splitter__part__bottomImg"></div>
                                                    <div class="b-splitter__part m-splitter__part__middleImg"></div>
                                                </div>

                                            </div>
                                        </div>
<div class="b-tabs">



                        <div class="b-tabs__selectorItems">

                            <div class="b-tabs__selectorItem m-tabs__selectorItem__selected m-tabs__selectorItem__first" id="tabSelector_menu">
                                <span class="b-tabs__selectorItemIcon b-interfaceIcon m-interfaceIcon__menu"></span>
                                <span class="b-tabs__selectorContent">Men&#x00FA;</span>
                            </div>
    
                            <div class="b-tabs__selectorItem m-tabs__selectorItem__unselected" id="tabSelector_index">
                                <span class="b-tabs__selectorItemIcon b-interfaceIcon m-interfaceIcon__index"></span>
                                <span class="b-tabs__selectorContent">&#x00CD;ndice</span>
                             </div>
    
                            <div class="b-tabs__selectorItem m-tabs__selectorItem__unselected" id="tabSelector_search">
                                <span class="b-tabs__selectorItemIcon b-interfaceIcon m-interfaceIcon__search"></span>
                                <span class="b-tabs__selectorContent">B&#x00FA;squeda</span>
                            </div>

                        </div><!-- /b-tabs__selectorItems -->

                        <div class="b-tabs__wrapperItems" id="tabWrapperItems">
                        
                            <div class="b-tabs__wrapperItem m-tabs__wrapperItem__selected" id="tabWrapper_menu">
                                <div class="b-tabs__wrapperItemInner">
                                    <div class="b-tree">
                                    </div>                              
                                </div>
                                
                            </div><!-- /menu -->

                            <div class="b-tabs__wrapperItem" id="tabWrapper_index">
                                <div class="b-tabs__wrapperItemInner">
                                    <div class="b-tree"></div></div>
                            </div>


                            <div class="b-tabs__wrapperItem" id="tabWrapper_search">

        

<div class="b-search m-search__tabs" id="tabs_searchFormWrapper">
    <form action="#" class="b-search__form">
        <table class="b-search__layout">
            <tr>
                <td class="b-search__side m-search__side__input">
                    <div class="b-search__gap">
                        <label id="tabs_searchInput_label" for="tabs_searchInput" class="b-search__labelPlaceholder">B&#x00FA;squeda</label>
                        <input id="tabs_searchInput" type="text" value="" class="b-search__inputText" />
                    </div>
                </td>
                <td class="b-search__side m-search__side__submit">
                    <span class="b-button b-search__button">
                        <span class="b-button__wrapper">
                            <span class="b-button__text"></span>
                        </span>
                        <input type="submit" class="b-button__submit" value="B&#x00FA;squeda" id="tabs_searchSubmit" />
                    </span>
                </td>
            </tr>
        </table>
    </form>
</div><!-- /search -->
<img src="i/blocks/search/loading.gif" class="b-tree__searching" id="searchProgress" alt="" />
<div class="b-tabs__wrapperItemInner">

<!-- .b-tree -->
<div class="b-tree">
    <!-- .b-tree__items -->
    &#xA0;<br />&#xA0;
    &#xA0;<br />&#xA0;
    &#xA0;<br />&#xA0;
    &#xA0;<br />&#xA0;
    <!-- /.b-tree__items -->
</div>
<!-- /.b-tree -->



                                </div>
                            </div><!-- /wrapperItem -->
                        </div><!-- /wrapperItems -->
                    </div><!-- /b-tabs -->





                                        </div><!-- /b-workZone__content -->
                                    </td><!-- /workZone__nav -->



                                    <td class="b-workZone__side m-workZone__side__article" id="workZone_article">
                                        <div class="b-workZone__content" id="workZone_article__content">
                                            <a href="#" class="b-article__presentSideNavButton" id="presentSideNavButton"><span></span></a>
                                            <div class="b-workZone__overlay" id="workZone_article__overlay"></div>

<div class="b-article" id="article">
    <div class="b-article__preWrapper">
        <table class="b-article__headerLayout" id="article__header">
            <tr>
                <td id="headerSide__nav" class="b-article__headerSide m-article__headerSide__nav">
                    <div id="headerSide__nav__breadCrumbs" class="b-breadCrumbs">
                        <ul class="b-breadCrumbs__items"><li class="b-breadCrumbs__item"><a href="aplicacion_web.htm" class="b-breadCrumbs__link">1. Aplicaci&#x00F3;n web</a></li>

<li class="b-breadCrumbs__item"><a href="empresa_1.htm" class="b-breadCrumbs__link">1.1. Empresa</a></li>

<li class="b-breadCrumbs__item"><a href="menu_1.htm" class="b-breadCrumbs__link">1.1.3. Men&#x00FA;</a></li>

<li class="b-breadCrumbs__item">1.1.3.1. Dashboard</li>
</ul>                    </div>
                </td>
                <td id="headerSide__buttons" class="b-article__headerSide m-article__headerSide__buttons">
                    <div class="b-controlButtons">
                        <ul class="b-controlButtons__items">
                            <li class="b-controlButtons__item m-controlButtons__item__prev"><a href="menu_1.htm" class="b-controlButtons__link" title="Anterior"><span class="b-controlButtons__link_icon"></span><span class="b-controlButtons__link_text">&#xa0;Anterior</span></a></li>
                            <li class="b-controlButtons__item m-controlButtons__item__next"><a href="reportes.htm" class="b-controlButtons__link" title="Siguiente"><span class="b-controlButtons__link_text">Siguiente&#xa0;</span><span class="b-controlButtons__link_icon"></span></a></li>
                                                </ul>
                    </div>
                </td>
            </tr>
        </table>
        <div class="b-article__wrapper">
            <div class="b-article__innerWrapper" id="description_on_page_placeholder">
            <a id="top" class="anchor"></a>
            </div><!-- /innerWrapper -->
        </div>
        <script type="text/javascript">
        //<![CDATA[
            if (1 == 0 || is_touch_device())
            {
                $(".b-article__wrapper").append(
                    $("<table></table>")
                    .addClass("b-article__footerLayout")
                    .prop("id", "article__footer")
                    .append(
                        $("<tr></tr>").append(
                            $("<td></td>")
                            .addClass("b-article__headerSide m-article__headerSide__nav")
                        )
                        .append(
                            $("<td></td>")
                            .addClass("b-article__headerSide m-article__headerSide__buttons")
                            .append(
                                $("<div></div>").addClass("b-controlButtons")
                                .html($("<ul></ul>").addClass("b-controlButtons__items").html("    <li class=\"b-controlButtons__item m-controlButtons__item__prev\"><a href=\"menu_1.htm\" class=\"b-controlButtons__link\" title=\"Anterior\"><span class=\"b-controlButtons__link_icon\"></span><span class=\"b-controlButtons__link_text\">&#xa0;Anterior</span></a></li>\n    <li class=\"b-controlButtons__item m-controlButtons__item__next\"><a href=\"reportes.htm\" class=\"b-controlButtons__link\" title=\"Siguiente\"><span class=\"b-controlButtons__link_text\">Siguiente&#xa0;</span><span class=\"b-controlButtons__link_icon\"></span></a></li>\n"))
                            )
                        )
                    )
                );
            }
        //]]>
        </script>
    </div>
</div>



                                        </div>
                                    </td><!-- /workZone__article -->
                                </tr>
                            </table>
                        </div><!-- /workZone -->

                    </td><!-- /pageContentMiddle -->
                    <td class="b-pageContent__side m-pageContent__side__right" id="pageContentRight"></td>
                        </tr>
                    </table> <!-- /internal_wrapper -->
                    </td>
                </tr>
                <tr class="b-pageContent__row m-pageContent__row__footer" id="pageContentFooter">
                    <td class="b-pageContent__side m-pageContent__side__footer">
                        <script type="text/javascript">
                        //<![CDATA[
                            if (1 == 1 && !is_touch_device())
                                $( "#pageContentFooter" ).addClass("hidden");
                        //]]>
                        </script>
                        <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><table class="de_tbl_576 detbl" style="width: 100%; margin-left: 0; margin-right: auto;">
<col style="width: 100%;" class="de_col_1_576" />
<tr style="height: 29px;">
<td class="de_td_576" style = "padding: 2px; padding-bottom: 1px; border-left-style: none; border-left-width: 0px; border-left-color: #000000; border-right-style: none; border-right-width: 0px; border-right-color: #000000; border-top-style: none; border-top-width: 0px; border-top-color: #000000; border-bottom-style: none; border-bottom-width: 0px; border-bottom-color: #000000;  width: 100%; vertical-align: top;" colspan = "1" rowspan = "1" >
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span style="font-family: &quot;Arial&quot;;font-size: 10pt;color:#f0f0f0;">  (c) Company name, 2022</span></div>
</td></tr></table></div>
                    </td>
                </tr>
            </table>
        </div><!-- /pageContent -->

</div><!-- /pageLayout -->
<div id="hiddenContent" class="hiddenContent">
    <noscript>
    <div>To properly display this page you need a browser with JavaScript support.</div>
    </noscript>
                <div class="description_on_page"><div class="p" style="text-align: center; direction: ltr; margin-left: 0px; text-indent: 0px;"><div class="ic"><h1><strong>1.1.3.1. Dashboard</strong></h1></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">Muestra la informacion mas reelevante para la empresa</div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span class="de_476D3D315E">Dashboard</span></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
<a class="anchor" id="wndid_top"></a>
<map name="controlmap9193a934_27d7_4e01_baca_5307e684b5ba" id="controlmap9193a934_27d7_4e01_baca_5307e684b5ba">
<area shape="rect" alt="" href="#id_1" coords="107,33,135,61" data-coord-left="107" data-coord-top="33" data-coord-right="135" data-coord-bottom="61"  />
<area shape="rect" alt="" href="#id_2" coords="815,49,843,77" data-coord-left="815" data-coord-top="49" data-coord-right="843" data-coord-bottom="77"  />
<area shape="rect" alt="" href="#id_3" coords="1379,435,1407,463" data-coord-left="1379" data-coord-top="435" data-coord-right="1407" data-coord-bottom="463"  />
<area shape="rect" alt="" href="#id_4" coords="229,559,257,587" data-coord-left="229" data-coord-top="559" data-coord-right="257" data-coord-bottom="587"  />
<area shape="rect" alt="" href="#id_5" coords="243,733,271,761" data-coord-left="243" data-coord-top="733" data-coord-right="271" data-coord-bottom="761"  />
<area shape="rect" alt="" href="#id_6" coords="233,1003,261,1031" data-coord-left="233" data-coord-top="1003" data-coord-right="261" data-coord-bottom="1031"  />
<area shape="rect" alt="" href="#id_7" coords="239,1421,267,1449" data-coord-left="239" data-coord-top="1421" data-coord-right="267" data-coord-bottom="1449"  />
<area shape="rect" alt="" href="#id_8" coords="247,1851,275,1879" data-coord-left="247" data-coord-top="1851" data-coord-right="275" data-coord-bottom="1879"  />
<area shape="rect" alt="" href="#id_9" coords="251,2203,279,2231" data-coord-left="251" data-coord-top="2203" data-coord-right="279" data-coord-bottom="2231"  />
<area shape="rect" alt="" href="#id_10" coords="245,2319,273,2347" data-coord-left="245" data-coord-top="2319" data-coord-right="273" data-coord-bottom="2347"  />
<area shape="rect" alt="" href="#id_11" coords="243,2531,271,2559" data-coord-left="243" data-coord-top="2531" data-coord-right="271" data-coord-bottom="2559"  />
</map><img usemap="#controlmap9193a934_27d7_4e01_baca_5307e684b5ba"  alt="1.1.3.1. Dashboard" style="border: solid 0px;  " width="1589" height="2774" class="de_wndimg de_780D01ADE8" src="drex_dashboard_screen.png" data-full-src="drex_dashboard_screen.png" data-full-width="1589" data-full-height="2774" /></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><div class="de_ctrl"><table><tr><td><a class="anchor" id="id_1"></a><div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><a class="anchor" href="#wndid_top"><img  alt="1" style="border: solid 0px;  float: left; " width="40" height="40" class="de_ctrlbullet de_780D01ADE8" src="drex_bullet_1.png"/></a><div class="ic"><h2><strong>Seleccionar dashboard</strong></h2></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img  alt="1. Seleccionar dashboard" style="border: solid 0px;  " width="220" height="44" class="de_ctrlimg de_780D01ADE8" src="drex_dashboard_control_1.png" data-full-src="drex_dashboard_control_1.png" data-full-width="220" data-full-height="44" /></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">&lt;TAREAS PENDIENTES&gt;: Descripción del control</div>
</td></tr><tr class="topLinkRow" style="border-style:none"><td style="border-style:none; text-align: right;"><div style="text-align: right; font-size:8pt"><a href="#top">Arriba</a></div></td></tr></table></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><div class="de_ctrl"><table><tr><td><a class="anchor" id="id_2"></a><div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><a class="anchor" href="#wndid_top"><img  alt="2" style="border: solid 0px;  float: left; " width="40" height="40" class="de_ctrlbullet de_780D01ADE8" src="drex_bullet_2.png"/></a><div class="ic"><h2><strong>Totales de compras y ventas</strong></h2></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img  alt="2. Totales de compras y ventas" style="border: solid 0px;  " width="1062" height="160" class="de_ctrlimg de_780D01ADE8" src="drex_dashboard_control_2.png" data-full-src="drex_dashboard_control_2.png" data-full-width="1062" data-full-height="160" /></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">&lt;TAREAS PENDIENTES&gt;: Descripción del control</div>
</td></tr><tr class="topLinkRow" style="border-style:none"><td style="border-style:none; text-align: right;"><div style="text-align: right; font-size:8pt"><a href="#top">Arriba</a></div></td></tr></table></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><div class="de_ctrl"><table><tr><td><a class="anchor" id="id_3"></a><div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><a class="anchor" href="#wndid_top"><img  alt="3" style="border: solid 0px;  float: left; " width="40" height="40" class="de_ctrlbullet de_780D01ADE8" src="drex_bullet_3.png"/></a><div class="ic"><h2><strong>Porcentajes de operaciones</strong></h2></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img  alt="3. Porcentajes de operaciones" style="border: solid 0px;  " width="1068" height="172" class="de_ctrlimg de_780D01ADE8" src="drex_dashboard_control_3.png" data-full-src="drex_dashboard_control_3.png" data-full-width="1068" data-full-height="172" /></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">&lt;TAREAS PENDIENTES&gt;: Descripción del control</div>
</td></tr><tr class="topLinkRow" style="border-style:none"><td style="border-style:none; text-align: right;"><div style="text-align: right; font-size:8pt"><a href="#top">Arriba</a></div></td></tr></table></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><div class="de_ctrl"><table><tr><td><a class="anchor" id="id_4"></a><div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><a class="anchor" href="#wndid_top"><img  alt="4" style="border: solid 0px;  float: left; " width="40" height="40" class="de_ctrlbullet de_780D01ADE8" src="drex_bullet_4.png"/></a><div class="ic"><h2><strong>Gráfico de estado de pedidos</strong></h2></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img  alt="4. Gr&#x00E1;fico de estado de pedidos" style="border: solid 0px;  " width="330" height="410" class="de_ctrlimg de_780D01ADE8" src="drex_dashboard_control_4.png" data-full-src="drex_dashboard_control_4.png" data-full-width="330" data-full-height="410" /></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">&lt;TAREAS PENDIENTES&gt;: Descripción del control</div>
</td></tr><tr class="topLinkRow" style="border-style:none"><td style="border-style:none; text-align: right;"><div style="text-align: right; font-size:8pt"><a href="#top">Arriba</a></div></td></tr></table></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><div class="de_ctrl"><table><tr><td><a class="anchor" id="id_5"></a><div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><a class="anchor" href="#wndid_top"><img  alt="5" style="border: solid 0px;  float: left; " width="40" height="40" class="de_ctrlbullet de_780D01ADE8" src="drex_bullet_5.png"/></a><div class="ic"><h2><strong>Gráfico de productos mas vendidos</strong></h2></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img  alt="5. Gr&#x00E1;fico de productos mas vendidos" style="border: solid 0px;  " width="696" height="402" class="de_ctrlimg de_780D01ADE8" src="drex_dashboard_control_5.png" data-full-src="drex_dashboard_control_5.png" data-full-width="696" data-full-height="402" /></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">&lt;TAREAS PENDIENTES&gt;: Descripción del control</div>
</td></tr><tr class="topLinkRow" style="border-style:none"><td style="border-style:none; text-align: right;"><div style="text-align: right; font-size:8pt"><a href="#top">Arriba</a></div></td></tr></table></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><div class="de_ctrl"><table><tr><td><a class="anchor" id="id_6"></a><div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><a class="anchor" href="#wndid_top"><img  alt="6" style="border: solid 0px;  float: left; " width="40" height="40" class="de_ctrlbullet de_780D01ADE8" src="drex_bullet_6.png"/></a><div class="ic"><h2><strong>Gráfico de ventas diarias</strong></h2></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img  alt="6. Gr&#x00E1;fico de ventas diarias" style="border: solid 0px;  " width="1044" height="410" class="de_ctrlimg de_780D01ADE8" src="drex_dashboard_control_6.png" data-full-src="drex_dashboard_control_6.png" data-full-width="1044" data-full-height="410" /></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">&lt;TAREAS PENDIENTES&gt;: Descripción del control</div>
</td></tr><tr class="topLinkRow" style="border-style:none"><td style="border-style:none; text-align: right;"><div style="text-align: right; font-size:8pt"><a href="#top">Arriba</a></div></td></tr></table></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><div class="de_ctrl"><table><tr><td><a class="anchor" id="id_7"></a><div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><a class="anchor" href="#wndid_top"><img  alt="7" style="border: solid 0px;  float: left; " width="40" height="40" class="de_ctrlbullet de_780D01ADE8" src="drex_bullet_7.png"/></a><div class="ic"><h2><strong>Gráfico de proyección de la demanda</strong></h2></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img  alt="7. Gr&#x00E1;fico de proyecci&#x00F3;n de la demanda" style="border: solid 0px;  " width="1052" height="392" class="de_ctrlimg de_780D01ADE8" src="drex_dashboard_control_7.png" data-full-src="drex_dashboard_control_7.png" data-full-width="1052" data-full-height="392" /></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">&lt;TAREAS PENDIENTES&gt;: Descripción del control</div>
</td></tr><tr class="topLinkRow" style="border-style:none"><td style="border-style:none; text-align: right;"><div style="text-align: right; font-size:8pt"><a href="#top">Arriba</a></div></td></tr></table></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><div class="de_ctrl"><table><tr><td><a class="anchor" id="id_8"></a><div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><a class="anchor" href="#wndid_top"><img  alt="8" style="border: solid 0px;  float: left; " width="40" height="40" class="de_ctrlbullet de_780D01ADE8" src="drex_bullet_8.png"/></a><div class="ic"><h2><strong>Gráfico de compras y ventas por meses</strong></h2></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img  alt="8. Gr&#x00E1;fico de compras y ventas por meses" style="border: solid 0px;  " width="1066" height="330" class="de_ctrlimg de_780D01ADE8" src="drex_dashboard_control_8.png" data-full-src="drex_dashboard_control_8.png" data-full-width="1066" data-full-height="330" /></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">&lt;TAREAS PENDIENTES&gt;: Descripción del control</div>
</td></tr><tr class="topLinkRow" style="border-style:none"><td style="border-style:none; text-align: right;"><div style="text-align: right; font-size:8pt"><a href="#top">Arriba</a></div></td></tr></table></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><div class="de_ctrl"><table><tr><td><a class="anchor" id="id_9"></a><div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><a class="anchor" href="#wndid_top"><img  alt="9" style="border: solid 0px;  float: left; " width="40" height="40" class="de_ctrlbullet de_780D01ADE8" src="drex_bullet_9.png"/></a><div class="ic"><h2><strong>Lista de pedidos del día</strong></h2></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img  alt="9. Lista de pedidos del d&#x00ED;a" style="border: solid 0px;  " width="684" height="300" class="de_ctrlimg de_780D01ADE8" src="drex_dashboard_control_9.png" data-full-src="drex_dashboard_control_9.png" data-full-width="684" data-full-height="300" /></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">&lt;TAREAS PENDIENTES&gt;: Descripción del control</div>
</td></tr><tr class="topLinkRow" style="border-style:none"><td style="border-style:none; text-align: right;"><div style="text-align: right; font-size:8pt"><a href="#top">Arriba</a></div></td></tr></table></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><div class="de_ctrl"><table><tr><td><a class="anchor" id="id_10"></a><div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><a class="anchor" href="#wndid_top"><img  alt="10" style="border: solid 0px;  float: left; " width="40" height="40" class="de_ctrlbullet de_780D01ADE8" src="drex_bullet_10.png"/></a><div class="ic"><h2><strong>Gráfico de estado de pedidos del día</strong></h2></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img  alt="10. Gr&#x00E1;fico de estado de pedidos del d&#x00ED;a" style="border: solid 0px;  " width="320" height="294" class="de_ctrlimg de_780D01ADE8" src="drex_dashboard_control_10.png" data-full-src="drex_dashboard_control_10.png" data-full-width="320" data-full-height="294" /></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">&lt;TAREAS PENDIENTES&gt;: Descripción del control</div>
</td></tr><tr class="topLinkRow" style="border-style:none"><td style="border-style:none; text-align: right;"><div style="text-align: right; font-size:8pt"><a href="#top">Arriba</a></div></td></tr></table></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><div class="de_ctrl"><table><tr><td><a class="anchor" id="id_11"></a><div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><a class="anchor" href="#wndid_top"><img  alt="11" style="border: solid 0px;  float: left; " width="40" height="40" class="de_ctrlbullet de_780D01ADE8" src="drex_bullet_11.png"/></a><div class="ic"><h2><strong>Lista de los productos mas vendidos</strong></h2></div></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img  alt="11. Lista de los productos mas vendidos" style="border: solid 0px;  " width="1044" height="112" class="de_ctrlimg de_780D01ADE8" src="drex_dashboard_control_11.png" data-full-src="drex_dashboard_control_11.png" data-full-width="1044" data-full-height="112" /></div>
<div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">&lt;TAREAS PENDIENTES&gt;: Descripción del control</div>
</td></tr><tr class="topLinkRow" style="border-style:none"><td style="border-style:none; text-align: right;"><div style="text-align: right; font-size:8pt"><a href="#top">Arriba</a></div></td></tr></table></div></div>
</div>                                    			
                			                <h6 class="b-article__generatorCopyright">
                    <a class="b-link b-article__generatorCopyrightLink" href="https://www.drexplain.es" target="_blank" rel="nofollow">El manual de usuario se hace con Dr.Explain</a>
                </h6>
                </div>
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">

        <!-- Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close"></button>
                <button class="pswp__button pswp__button--zoom"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

</body>
</html>
